$background-color: #f7f7f7;

$primary: #000000;
$secondary: #e90e66;
$danger: #dd0000;
$success: rgb(23, 177, 23);
$warning: orange;
$info: #1f9bcf;
$color-blue: #1f9bcf;
$color-blue-dark: #0d54af;
$color-green: rgb(23, 177, 23);

$red: #fa0707; //Lighter red for text

$uwrg-yellow: #fddd00;
$uwrg-light-blue: #6fcff6;
$uwrg-blue: #005da6;
$uwrg-dark-blue: #064794;
$uwrg-red: #c32032;
$uwrg-black: #231f20;
