@import "./_variables.scss";
@import "./button";
@import "./forms";
@import "./media-querries";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#app {
  font-family: "Inter", sans-serif;
  background-color: $background-color;
}

.page-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 75px;
  letter-spacing: 3px;
  font-weight: 300;
  background-image: linear-gradient(
    45deg,
    rgba(131, 12, 12, 1) 0%,
    rgba(209, 101, 23, 1) 19%,
    rgba(246, 191, 26, 1) 37%,
    rgba(14, 162, 6, 1) 53%,
    rgba(35, 174, 175, 1) 68%,
    rgba(2, 3, 226, 1) 85%,
    rgba(255, 3, 245, 1) 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  transition: all 0.5s;
}
